[user]
	name = Jesse Cooke
  email = jesse@relativepath.io
  signingkey = 7EBD3956
[format]
  pretty="format:%C(yellow)%h%Creset %C(magenta bold)%aN%Creset%C(blue) %ad%Creset %s"
[push]
  default = current
[branch]
  autosetuprebase = always
[alias]
  # amend to the last commit
  amend = commit --amend -C HEAD
  # interactive rebase
  ri = rebase --interactive --autosquash
  # diff the index against the previous commit
  staged = diff --cached
  # update all remotes, pruning removed tracking branches
  update-remotes = remote update --prune
  # rewrite last commit msg
  rewrite-last = rebase -i HEAD^
  # shorten up pull-request
  pr = pull-request

  diffFilter = my_delta

  d = vimdiff
  serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
  compactionHeuristic = true
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = my_delta
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
  gpgsign = true
